/* 
    Document   : homepage_ver1
    Created on : Jul 26, 2012, 4:15:51 PM
    Author     : nschexni
    Description:
        Testing variation of New Services Homepage using LESS
*/

/* Homepage Style */

/*LESS COLOR VARIABLES*/
/*Tulane Color Palette [http://tulane.edu/news/style/colorpalette.cfm]*/
@tulane_green:#00331A;
@tulane_blue:#224568;
@oak_leaf:#006633;
@green_parrot:#99CC66;
@avenue_blue:#336699;
@audubon_dawn:#E5F2FF;
@wave_mist:#CCE4D9;
@spanish_moss:#535353;
@fountainbleu:#4388CC;
@gibson_stone:#EBF4E1;
@cane_sugar:#AD8938;
/*Custom Colors for Project*/
@news_red:#7F0F00;
@light_grey:#ccc;



/*HOMEPAGE MIDDLE SECTION STYLES*/
#homepage_middle_section{
    background:#fff;
    color:#222;
}

.large_striped_bar {
    margin-top:-35px;
    margin-bottom:20px;
    border-bottom:1px solid #ccc;
    background: url('/new_services/assets/img/common/nav_striped_bg.gif');
    height: 5px;
    background-repeat: repeat-x;
}

/*COLLECTIONS AREA SECTION STYLES*/
#collections_list {
    width: 640px;
    float: left;
    margin-top: -10px;
}

#collections_list_content{
}

#collections_list_content ul li {
    display: inline-block;
    width: 100%;
    padding:10px 0 10px 0;
}

.collections_list_img a {
    width: 140px;
    height: 140px;
    float: left;
    padding: 0;
    margin: 4px 20px 0 0;
    background: #f4f4f4;
    border: 1px solid #bbbbbb;  
}

.collections_list_img a:hover{border:1px solid @avenue_blue;}

.collections_list_img img {
    margin:6px 0 0 6px;
    padding:0;
    width: 125px;
    height: 125px;
    border: 1px solid #bbbbbb;
}
.collections_list_text_area {
    width: 410px;
    display: inline-block;
    float: left;
}

h3.collections_list_title {
    font-size: 2.1em;
    font-weight: bold;
    text-transform: uppercase;
    color:@avenue_blue;
    padding: 0 0 0 0;
    margin: 0 0 6px 0;
}

h3.collections_list_title a{
    color:@avenue_blue;
    text-decoration:none;
}

h3.collections_list_title a:hover{
    color:@avenue_blue;
    text-decoration:underline;
}

.collections_list_description {
font-family: Arial;
color: #222;
text-decoration: none;
word-spacing: normal;
text-align: left;
letter-spacing: 0;
line-height: 1.5em;
font-size: 1.5em;
}




/*NEWS AREA STYLES*/
#news_area {
  width: 320px;
  float: left;
}
#news_area a {
  color: #7f0f00;
}
#news_area a:hover {
  text-decoration: underline;
}
#news_area ul li {
  margin: 0 0 5px 0px;
}
#news_content_area {
  width: 300px;
  margin: 0 0 0 5px;
  background: url('/new_services/assets/img/common/gibson_gradient.png') top repeat-x;
}
.news_item_container {
  border-top: 1px solid #ccc;
  width: 300px;
  margin:0 0 0 -10px;
}
#news_area h3 {
  color: #7f0f00;
  font-size: 1.7em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 7px 0 -5px 0;
  padding: 2px 0 2px 0;
  text-indent: 10px;
  border-top: 3px solid;
}
.news_icon {
  width: 24px;
  height: 24px;
  margin: -2px 0 0 0;
  padding: 0;
  border-radius: 2px;
}
.news_list_text {
  margin: 0 0 0 22px;
}
.news_list_text h5 {
  color: #7f0f00;
  font-family:Arial,sans-serif;
  margin: 4px 0 0 10px;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  padding: 5px 0 0 0;
  
}
.news_list_text p {
  padding: 0 0 5px 0;
  margin: 0 10px 0 12px;
}
.news_list_text p .news_img {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  margin: 6px 5px -1px 0;
  border: 1px solid #7f0f00;
}

.news_list_text .news_more_info {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 4px 0 4px;
  display: inline-block;
}

.news_list_text .news_more_info:after {
  content: "\00BB";
  padding: 0 0 0 2px;
  color: #7f0f00;
  font-size: 1.3em;
}





/*RSS SECTION STYLES*/
.rss_icon {
  width: 16px;
  height: 16px;
  margin: -4px 0 0 0;
  padding: 0;
}

.news_item_container {
  border-top: 1px solid #ccc;
  width: 300px;
  margin:0 0 0 -10px;
}

#rss_list {
  padding-bottom: 20px;
}

#rss_list a {
  text-decoration: none;
  color: #535353;
}

#rss_list a:hover {
  text-decoration: underline;
}

#rss_list ul {
  margin: 0;
  text-decoration: none;
  margin: 0 0 0 0;
}

#rss_list ul li {
  border-top: 1px solid #ccc;
  padding: 0 20px 0 30px;
}

#rss_list .rss_item_title a {
  display: block;
  color: #7f0f00;
  font-size: 1.3em;
  font-weight: bold;
  padding: 5px 0 0 0;
}

#rss_list .rss_item_pub_date {
  display: block;
  font-size: .9em;
  font-weight: normal;
  padding: 2px 0 0 0;
}

#rss_list .rss_item_desc {
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  padding: 0;
}





/*TWITTER STYLES*/
#twitter_list{
    display:none;
}











/*HOMEPAGE BOTTOM SECTION STYLES*/

#homepage_bottom_section{
    background: #535353 url('/new_services/assets/img/home/footer/chalkboard_bg.jpg');
    color:white;
    float:left;
    width:100%;
}

#homepage_bottom_section a{
    color:#fff;
}

#homepage_bottom_section a:hover{
    color:#fff;
    text-decoration: underline;
}

.large_striped_bar_footer{    
    margin-top:0px;
    margin-bottom:20px;
    border-top:1px solid #ccc;
    background: url('/new_services/assets/img/common/nav_striped_bg.gif');
    height: 5px;
    background-repeat: repeat-x;
}

#homepage_bottom_section p{
    color:white;
}

#homepage_bottom_section h6{
    margin:0 0 0 10px;
}

#homepage_bottom_section ul li{
    margin:0 0 5px 25px;
    list-style:none;
}

#homepage_bottom_section h5{
    font-size:2em;
    font-weight:normal;
    text-transform:uppercase;
    color:#fff;
    font-family:Georgia, serif;
    padding:0 0 0 0;
    margin:7px 0 6px 10px;
}

#column_contact{
    width:320px;
    float:left;
}

#column_contact {
  width: 320px;
  float: left;
}
#column_contact_content p.contact_text {
  margin: -10px 0 10px 30px;
  font-size: 1.7em;
  display:none;
}

#column_contact_content ul{
margin:15px 0 0 5px;
}

#column_contact_content li .contact_name {
  font-size: 2.1em;
  font-weight:700;
  margin: 5px 0 0 0;
}
#column_contact_content li .contact_phone {
  font-size: 1.7em;
  margin: 5px 0 0 0;
}
#column_contact_content li .contact_email {
  font-size: 1.7em;
  margin: 5px 0 0 0;
}

#column_statistics{
    width:310px;
    float:left;
/*    border-left:1px solid #fff;
    border-right:1px solid #fff;*/
}

#column_submission{
    width:320px;
    float:left;
}

#column_submission li.list_star{
  list-style: url('/new_services/assets/img/home/footer/list_star.png');
  font-size:2em;
  text-transform:capitalize;
  padding:10px 0 10px 0;
}