/* 
    Document   : repository_nav_menu
    Created on : Aug 7, 2012, 2:23:47 PM
    Author     : nschexni
    Description:
        central file for main navigation styling
*/
#top_stripe_bar{
	background:url('/new_services/assets/img/common/nav_striped_bg.gif');
	height:5px;
	background-repeat:repeat-x;
	border-top:1px #CCC solid;	
}



